@model MarkManagementMVCApp.Models.FacultyPage
@using MarkManagementMVCApp.Models;

@{
    ViewBag.Title = "AdminFaculty";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">

        <div class="col-md-7" style="margin-left:400px;color:darkblue">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <b>FACULTY ID</b>
                            @Html.EditorFor(model => model.Fid, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fid, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <b>FACULTY NAME</b>
                            @Html.EditorFor(model => model.FactName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FactName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <b>GENDER</b>
                            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(gend))),
                                    "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <b>ADDRESS</b>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <b>LOCATION</b>
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <b>MOBILE NUMBER</b>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <b>EMAIL</b>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <b>PASSWORD</b>
                            @Html.PasswordFor(model => model.Password,new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="ADD FACULTY" class="btn btn-primary" />
                            <p style="color:red">@ViewBag.info</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

