@model MarkManagementMVCApp.Models.ClassPage

@{
    ViewBag.Title = "delete";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}




<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
