@model MarkManagementMVCApp.Models.StudentPage

@{
    ViewBag.Title = "StudentPassword";
    Layout = "~/Views/Student/StudentMaster.cshtml";
}



@using (Html.BeginForm("StudentPassword","Student",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="col-md-4" style="margin-left:450px;color:darkblue">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <b>CURRENT PASSWORD</b>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <b>NEW PASSWORD</b>
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.NPassword,new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.NPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <b>CONFIRM PASSWORD</b>
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.CPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-12 col-md-10">
                        <input type="submit" value="Change Password" class="btn btn-primary" style="width:200px;margin-left:120px" />
                        <p style="color: red; margin-left: 150px">@ViewBag.info</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

}

